In [58]:
import pandas as pd
import numpy as np

In [59]:
df = pandas.DataFrame(np.random.randn(5,3), columns=['A','B','C'])
df

          A         B         C
0  1.053627  0.777021  0.251837
1  0.416365 -0.532682 -0.525623
2 -1.066850  0.266647  1.521863
3 -0.111962  0.033105 -0.096962
4 -1.808944  0.877986 -0.599602

In [63]:
# for each col, which row has the highet value?
df['A'].idxmax()

0

In [66]:
df['B'].idxmax()

4

In [67]:
df['C'].idxmax()

2